* {
  border: none;
  border-radius: 0;
  font-family: Ubuntu Mono Nerd Font;
  font-size: 20px;
  font-weight: bold;
  min-height: 0;
}

*:hover {
  background-color: transparent;
}

window#waybar {
  background: #030303;
  color: #dedede;
}

tooltip {
  background: #121212;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #4f6580;
}

#workspaces {
  margin-left: 8px;
}

#workspaces button {
  padding: 3px;
  color: #434343;
  margin-right: 5px;
}

#workspaces button.active {
  color: #dedede;
}

#workspaces button.focused {
  color: #dedede;
  border-radius: 6px;
}

#workspaces button.urgent {
  color: #0f0f0f;
  border-radius: 6px;
}

#workspaces button:hover {
  color: #000000;
  border-radius: 6px;
  background-color: #8db5ca;
}

#clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight {
  padding: 4px 8px;
  /*background-color: #202020;*/
}

#tray {
  border-radius: 6px;
  margin-right: 4px;
}

#clock {
  border-radius: 6px;
}

#network {
  border-radius: 6px 0px 0px 6px;
}

#pulseaudio {
  margin-right:8px;
}

#battery{
  border-radius: 0 6px 6px 0;
  margin-right: 0px;
}

#battery.warning{
  border-radius: 0px;
  border-bottom: 2px solid;
  border-color: yellow;
  margin-bottom: 3px;
}

#battery.critical{
  border-radius: 0px;
  border-bottom: 2px solid;
  border-color: red;
  margin-bottom: 3px;
}

