* {
  border: none;
  border-radius: 0;
  font-family: Ubuntu Mono Nerd Font;
  font-size: 18px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: #000000;
  color: #dedede;
}

tooltip {
  background: #121212;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #4f6580;
}

#workspaces button {
  padding: 3px;
  color: #434343;
  margin-right: 5px;
}

#workspaces button.active {
  color: #dedede;
}

#workspaces button.focused {
  color: #dedede;
  border-radius: 6px;
}

#workspaces button.urgent {
  color: #0f0f0f;
  border-radius: 6px;
}

#workspaces button:hover {
  color: #000000;
  border-radius: 6px;
}

#clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight {
  padding: 4px 8px;
  /*background-color: #202020;*/
}

#tray {
  border-radius: 6px;
  margin-right: 4px;
}

#workspaces {
  margin-left: 4px;
}

#clock {
  border-radius: 6px;
}

#network {
  border-radius: 6px 0px 0px 6px;
}

#pulseaudio {
}

#battery{
  border-radius: 0 6px 6px 0;
  margin-right: 4px;
}

#backlight{}

#custom-spotify-metadata, #custom-spotify-play-pause, #custom-spotify-prev, #custom-spotify-next, #custom-spotify-quit {
  color: #dedede;
  padding: 0px 10px;

}
#custom-spotify-metadata {
  margin-left: 8px;
  border-radius: 6px 0px 0px 6px;
}
#custom-spotify-metadata.playing {
  color: #dedede;
}
#custom-spotify-metadata.paused {
  color: #dedede;
}
#custom-spotify-prev {
  margin: 3px 0;
}
#custom-spotify-play-pause {
  margin: 3px 0;
}
#custom-spotify-next {
  margin: 3px 0;
}
#custom-spotify-quit {
  margin: 3px 3px 3px 0;
  border-radius: 0 6px 6px 0;
}

#custom-powermenu {
  padding-right: 8px
}

#custom-launcher {
  padding: 0px 8px
}
