* {
  font:                   "Ubuntu Mono Nerd Font 15";
  background:             #121212;
  background-alt:         #232323;
  color-background:       @line;
  line:                   #4f6580;
  unselected:             #4a4a4a;
  selected:               #dedede;
  selected-alt:           @line;
  foreground:             #dedede;
}
