window {
  background-image: url("../hypr/background");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*if background-image is missing it loads the color*/
  background-color: rgba(48,48,48,1);
  color: white;
}

#clock-label {
  color: white;
}
