/** Global *******************************************/
*{
	all: unset;
	font-family: 'JetBrains Mono Nerd Font';
  color: #7c94bf;
}


/** Background ***************************************/
.background {
	background-color: #040404;
  border-radius: 12px;
  padding: 10px;
}


/** Generic window ***********************************/
.genwin {
  background-color: #131313;
	border-radius: 16px;
  padding:5px;
}


/* Network ********************************************/
.btn_net{
}

.network {
  font-size: 20px;
  /*color: #f7e1d3;*/
}


/* Bluetooth ******************************************/
.btn_bluet {
  font-size: 20px
}

/* Battery **********************************************/
.battery {
	padding-top: 30px;
  font-size:20px;
}

.baticon {
	font-size: 26px;
}

/* Microphone *****************************************/
.btn_mic {
  font-size: 32px;
}


/** System Sliders ********************************************/
.slidersbox {
  padding: 4px;
}

.iconbright {
	font-size : 24px;
	font-weight : normal;
  /*color: #eed49f;*/
}

.bright_bar scale trough {
	all: unset;
	background-color: #303446;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
  margin-right: 10px;
}

.bright_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	/*background-color: #eed49f;*/
  background-color: #7c94bf;
}

.iconvolume {
	font-size : 28px;
	font-weight : normal;
  margin-left: 4px;
}

.volume_bar scale trough {
	all: unset;
	background-color: #303446;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
  margin-right: 10px;
}

.volume_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	background-color: #7c94bf;
}

.iconmic {
	font-size : 28px;
	font-weight : normal;
  margin-left: 4px;
}

.mic_bar scale trough {
	all: unset;
	background-color: #303446;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
  margin-right: 10px;
}

.mic_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	background-color: #7c94bf;
}


/** Music ***************************************/
.album_art {
	background-size: 180px;
	min-height: 180px;
	min-width: 180px;
	margin: 4px;
	border-radius: 14px;
}

.song {
	color: #8FBCBB;
	font-size : 20px;
	font-weight : bold;
	margin : 30px 0px 0px 0px;
}

.artist {
	color: #Eed49f;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
}
.btn_prev {
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	font-size : 35px;
	font-weight : bold;
	margin-left: -12px;
}
.btn_next {
	font-size : 32px;
	font-weight : normal;
}


/** Calendar *******************************************/

.cal {
  padding: 5px 5px 0px 5px;
  border: transparent;
	font-size: 17px
}

calendar {
  color: #777777;
}

calendar:selected {
  color: #eeeeee;
}

calendar.header {
  color: #a1bdce;
  font-weight: bold;
}

calendar.button {
  color: #afbea2;
}

calendar.highlight {
  color: #a1bdce;
  font-weight: bold;
}

calendar:indeterminate {
  color: #242424;
}




/** Power buttons ***************************************/
.btn_poweroff {
	font-size : 25px;
  padding: 8px 0;
	margin: 0px 4px 0px -5px;
}



/** EOF *************************************************/
