color={{base00}}

key-hl-color={{base0B}}

separator-color=00000000

inside-color={{base00}}
inside-clear-color={{base00}}
inside-ver-color={{base0D}}
inside-wrong-color={{base08}}

ring-color={{base01}}
ring-clear-color={{base01}}
ring-ver-color={{base0D}}
ring-wrong-color={{base08}}

line-color=00000000
line-clear-color=00000000
line-ver-color=00000000
line-wrong-color=00000000

text-clear-color={{base09}}
text-caps-lock-color={{base09}}
text-ver-color={{base00}}
text-wrong-color={{base00}}

bs-hl-color={{base08}}
