/* COLORS */

* {
  background:             #0c0c0c;
  background-transparent: #0c0c0cBB; 
  background-alt:         #282B31FF;
  foreground:             #FFFFFFFF;
  foreground-alt:         #010101FF;
  selected:               #7c94bfBB;	
}
