*{
  all: unset;
  font-family: Ubuntu Mono Nerd Font;
}

.cal {
  background-color: #131313;
  font-size: 22px;
  font-weight: normal;
  border-radius: 16px;
  border: 8px solid #303446;
  padding: 2px;
  margin-left: 10px;
}

.cal-in {
  padding: 10px 10px 0px 10px;
  border: transparent;
}

calendar {
  color: #777777;
}

calendar:selected {
  color: #eeeeee;
}

calendar.header {
  color: #a1bdce;
  font-weight: bold;
}

calendar.button {
  color: #afbea2;
}

calendar.highlight {
  color: #a1bdce;
  font-weight: bold;
}

calendar:indeterminate {
  color: #242424;
}
