* {
  font-family:  Ubuntu Mono Nerd Font;
  font-size: 22px;
  font-weight: 400;
  outline-style: none;
}


#window {
  margin: 0px;
  border: 2px solid;
  border-color: #8db5ca;
  border-radius: 16px;
  background-color: #131313;
}

#input {
  margin: 15px;
  background-color: transparent;
  color: #666666;
  border-radius: 25px;
  border: transparent;
}

#scroll {
  margin-bottom: 15px;
}

#entry {
  margin: 0px 15px;
}

#entry:selected {
  background-color: #303446;
  border-radius: 12px;
}

#entry > box {
  margin-left: 16px;
  color: #dedede;
}

#entry image {
  padding-right: 10px;
  background-color: transparent;
}

#text {
  background-color:transparent;
}

















