* {
  font-family:  Ubuntu Mono Nerd Font;
  font-size: 20px;
  font-weight: 400;
}


#window {
  margin: 0px;
  border: 2px solid;
  border-color: #121212;
  border-radius: 15px;
  background-color: #202020;
  color: #dedede;
}

#input {
  margin: 3px;
  background-color: transparent;
  color: #dedede;
  border-radius: 25px;
}

#scroll {
  margin-bottom: 15px;
}

#entry {
  margin: 0px 15px;
}

#entry:selected {
  background-color: #404040;
  border-radius: 15px;
  border: none;
  outline: none;
}

#entry > box {
  margin-left: 16px;
}

#entry image {
  padding-right: 10px;
}
/*
#colors {
color: rgb(37, 38, 51);
color: rgb(52, 64, 76);
color: rgb(76, 90, 107);
color: rgb(112, 122, 137);
color: rgb(235, 77, 129);
color: rgb(245, 98, 36);
}*/
