@import                           "~/.config/rofi/network/network-shared.rasi"


window{
  height:                         100px;
}

entry {
  placeholder:                    "Type password here...";
}


textbox-prompt-colon {
  str:                            "";
}
