/*************************
 * Check and Radio items *
 *************************/

check,
radio {
    color: alpha(currentColor, 0.75);
    background-color: @base_color;
    margin-right: 5px;
}

check {
    border-radius: 3px;
}

radio {
    border-radius: 10px;
}

check:disabled,
radio:disabled {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1);
}

check:hover,
check:active,
radio:hover,
radio:active {
    background-color: shade(@selected_bg_color, 0.5);
}

check:checked,
check:checked:disabled,
radio:checked,
radio:checked:disabled {
    background-color: shade(@selected_bg_color, 0.9);
}

check:checked,
check:indeterminate,
radio:checked,
radio:indeterminate {
    background-color: shade(@selected_bg_color, 0.9);
    color: shade(@bg_color, 0.8);
}

check:checked:disabled,
check:indeterminate:disabled,
radio:checked:disabled,
radio:indeterminate:disabled {
    color: shade(@bg_color, 0.4);
}

check:only-child,
radio:only-child {}

menu menuitem check,
menu menuitem radio {
    transition: none;
}

menu menuitem check:not(:checked):not(:indeterminate):hover,
menu menuitem radio:not(:checked):not(:indeterminate):hover {
    color: alpha(currentColor, 0.75);
}

menu menuitem check,
menu menuitem check:hover,
menu menuitem check:disabled,
menu menuitem radio,
menu menuitem radio:hover,
menu menuitem radio:disabled {
    margin: 0;
    padding: 0;
}

menu menuitem check:checked {
    -gtk-icon-source: -gtk-scaled(url("../assets/check.png"));
}

check:checked {
    -gtk-icon-source: -gtk-recolor(url("../assets/check.png"));
}

check:checked:disabled {
    -gtk-icon-source: -gtk-recolor(url("../assets/check-disabled.png"));
}

radio:checked {
    -gtk-icon-source: -gtk-recolor(url("../assets/bullet.png"));
}

radio:checked:disabled {
    -gtk-icon-source: -gtk-recolor(url("../assets/bullet-disabled.png"));
}

check:indeterminate,
check:indeterminate:checked,
radio:indeterminate,
radio:indeterminate:checked {
    -gtk-icon-source: -gtk-recolor(url("../assets/dash.png"));
}

check:indeterminate:disabled,
check:indeterminate:checked:disabled,
radio:indeterminate:disabled,
radio:indeterminate:checked:disabled {
    -gtk-icon-source: -gtk-recolor(url("../assets/dash-disabled.png"));
}

menu menuitem check:not(:indeterminate):checked,
menu menuitem radio:not(:indeterminate):checked,
menu menuitem check:indeterminate:checked,
menu menuitem radio:indeterminate:checked {
    animation: none;
}
